/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}
/* Profile Section */
.profile{
    padding: 8rem 0;
}
.profile::after{
    content:"";
    display:block;
    clear:both
}
.profile-image{
    display: flex;
    width: 10%;
    height: 10%;
    float: left;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
}
.profile-image img{
    border-radius: 60%;
    background-color: aqua;
}

.profile{
    position: relative;
    display: flex;
    justify-content: center;
}

.profile-user-name{
    display: grid;
}
.profile-user-settings{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-stats{
    display: flex;
    flex-direction: column;
}
.profile-bio{
    display: grid;
    
    justify-content: flex-start;

}
/* Gallery Section */

.gallery{
    display: grid;
    grid-template-columns: repeat(3,minmax(100px,1fr));
}
.gallery-item{
    position: relative;
    overflow: hidden;

}
.gallery-item img{
    display: block;
    width: 90%;
    height: 90%;
   object-fit: cover;
}
.gallery-item:hover{
    filter: brightness(70%);
    transition: .2s;
}
.gallery-item-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

img {
    display: block;
}
