/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}
/* Profile Section */
.profile{
    padding: 8rem 0;
}
.profile::after{
    content:"";
    display:block;
    clear:both
}
.profile-image{
    display: flex;
    width: calc(33% - 1rem);
    float: left;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
}
.profile-image img{
    border-radius: 60%;
    background-color: aqua;
}

.profile{
    position: relative;
    display: flex;
    justify-content: center;
}
.profile-user-settings,
.profile-stats,
.profile-bio{
    float: left;
}
.profile-user-settings{
    margin-top: 10px;
}
.profile-user-name{
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
}
.profile-edit-btn{
    font-size: 1em;
    line-height: 2.5;
    border: 1rem solid #fafafa;
    border-radius: 4rem;
    padding: .3rem;
    margin-right: .2rem;
}
.profile-settings-btn{
    font-size: 1em;
    line-height: 1;
    margin-left: .3rem;
}
.profile-user-settings{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-stats{
    margin-top: 4rem;
}
,.profile-stats li{
    display: inline-block;
    font-size: 2rem;
    line-height: 2;
    margin-right: 5rem;
}

.profile-bio{
    font-size: 10px;
    font-weight: 400;
    line-height: 2;
    margin-top: 3rem;
}

/* Gallery Section */

.gallery{
    display: grid;
    grid-template-columns: repeat(3,minmax(100px,1fr));
}
.gallery-item{
    position: relative;
    overflow: hidden;

}
.gallery-item img{
    display: grid;
    width: 80%;
    height: 80%;
   object-fit: cover;
}
.gallery-item:hover{
    filter: brightness(70%);
    transition: .2s;
}
.gallery-item-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

img {
    display: block;
}
