/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}
/* Profile Section */
.profile{
    position: relative;
    display: flex;
    justify-content: center;
}
.profile-image{
    display: flex;
    width: 10%;
    height: 10%;
}
.profile-user-settings{
    display: flex;
}
.profile-stats{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.profile-bio{
    position: relative;
    display: grid;

}

img {
    display: block;
}
